.place__title {
  margin: 0;
  padding: 0 16px 32px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media screen and (min-width: 321px) {
  .place__title {
    padding-left: 0;
    padding-right: 0;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 570px) {
  .place__title {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 840px) {
  .place__title {
    font-size: 72px;
    line-height: 1.06;
  }
}