.places {
  margin: 0 auto;
  max-width: 928px;
  padding-bottom: 66px;
}

@media screen and (min-width: 321px) {
  .places {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 545px) {
  .places {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 769px) {
  .places {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 92px;
  }
}

@media screen and (min-width: 840px) {
  .places {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (min-width: 920px) {
  .places {
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media screen and (min-width: 1025px) {
  .places {
    max-width: 984px;
    padding-left: 0;
    padding-right: 0;
  }
}