.lead__subtitle {
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  max-width: 288px;
}

@media screen and (min-width: 450px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 1.2;
    padding-bottom: 36px;
    max-width: 510px;
  }
}

@media screen and (min-width: 560px) {
  .lead__subtitle {
    font-size: 30px;
    padding-bottom: 56px;
    max-width: 640px;
  }
}

@media screen and (min-width: 1025px) {
  .lead__subtitle {
    padding-bottom: 64px;
  }
}
