.place {
  margin: 0 auto;
  padding-bottom: 50px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 570px) {
  .place {
    padding-bottom: 73px;
    display: grid;
    grid-template-columns: fit-content(340px) minmax(250px, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    row-gap: 48px;
    column-gap: 28px;
  }
}


@media screen and (min-width: 840px) {
  .place {
    padding-bottom: 80px;
    grid-template-columns: fit-content(440px) minmax(352px, 1fr);
    column-gap: 32px;
  }
}

@media screen and (min-width: 1025px) {
  .place {
    grid-template-columns: fit-content(460px) minmax(456px, 1fr);
    column-gap: 40px;
  }
}