.footer {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: calc(100% - 16px - 16px);
  padding-bottom: 24px;
}

@media screen and (min-width: 321px) {
  .footer {
    padding-left: 4%;
    padding-right: 4%;
    max-width: calc(100% - 4% - 4%);
  }
}

@media screen and (min-width: 545px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
    gap: 16px;
    max-width: calc(100% - 24px - 24px);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 700px) {
  .footer {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .footer {
    padding-left: 3%;
    padding-right: 3%;
    max-width: calc(928px - 3% - 3%);
  }
}

@media screen and (min-width: 840px) {
  .footer {
    padding-left: 2%;
    padding-right: 2%;
    gap: 14px;
    max-width: calc(928px - 2% - 2%);
  }
}

@media screen and (min-width: 920px) {
  .footer {
    padding-left: 1%;
    padding-right: 1%;
    max-width: calc(928px - 1% - 1%);
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
    max-width: 928px;
  }
}

@media screen and (min-width: 1025px) {
  .footer {
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1184px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 0px;
    padding-right: 0px;
  }
}