.footer {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 928px;
  padding-bottom: 24px;
}

@media screen and (min-width: 321px) {
  .footer {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media screen and (min-width: 545px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 700px) {
  .footer {
    gap: 16px;
    display: grid;
    justify-content: space-between;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
  }
}

@media screen and (min-width: 769px) {
  .footer {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (min-width: 840px) {
  .footer {
    padding-left: 2%;
    padding-right: 2%;
    gap: 14px;
  }
}

@media screen and (min-width: 920px) {
  .footer {
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media screen and (min-width: 1025px) {
  .footer {
    padding-left: 1%;
    padding-right: 1%;
    max-width: 1184px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 0px;
    padding-right: 0px;
  }
}