.intro__title {
  margin: 0;
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media screen and (min-width: 400px) {
  .intro__title {
    font-size: 44px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 560px) {
  .intro__title {
    font-size: 54px;   
  }
}

